<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'myjs/signup.js' %}"></script>
    <script>
        var s0,s1,s2,s3,s4,s5;
        var mobile=0;
        var price=0;
        function openmodal(r0, r1, r2, r3, r4, r5) {
            s0=r0;
            s1=r1;
            s2=r2;
            s3=r3;
            s4=r4;
            s5=r5;
            alert(r0 + " " + r1 + " " + r2 + " " + r3 + " " + r4 + " " + r5);
            var ans = "<label>"+"<strong>"+ "Merchant:" +"</strong>" +"</label>"
                    +"<br>"
                +"<i>"+r1+"</i>" +
                "<br><br><br> " +
                r2 +
                "<br><br><br>" +
                r3 +
                "<br><br><br> " +
                r4 +
                "<br><br><br> "
                + r5 ;
            var ans2="";
             var xml = new XMLHttpRequest();
    xml.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var output = JSON.parse(this.response);
            mobile=output[0][0];
            alert(mobile)
            var business=output[0][3];
            var address=output[0][5];
            var timing=output[0][6];
             price=output[0][7];

              ans2 = "<label>"+"<strong>"+ "Merchant Details:" +"</strong>" +"</label>"
                    +"<br>"
                +"<i>"+mobile+"</i>" +
                "<br><br><br> " +
                business +
                "<br><br><br>" +
                address +
                "<br><br><br> " +
                timing +
                "<br><br><br> "
                + price;



            document.getElementById('servicedetail').innerHTML = ans;
            document.getElementById('merchantdetail').innerHTML = ans2;
            $('#myModal').modal('show');

        }
    };
    xml.open('GET', 'getmerchantdetails?email='+r1, true);
    xml.send();



        }
function bookservice() {
            var totalcharges=0;
            totalcharges=parseFloat(price)+parseFloat(s3);
           var date=document.getElementById('bookingdate').value;
 var xml = new XMLHttpRequest();
    xml.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var res=this.responseText.trim();
            if(res=="available"){
window.location.href="gotopaymentpage?totalcharges="+totalcharges+"&memail="+s1+"&serviceid="+s0+"&date="+date+"&mobile="+mobile;
            }
            else{
                alert('merchant unavailable on this date');
            }

        }
    };
    xml.open('GET', 'getmerchantavailbality?email='+s1+"&date="+date, true);
    xml.send();


}
    </script>
    <style>
        body {
            background: url("../static/indeximages/2.jpg") no-repeat;
            background-size: cover;
        }
    </style>

</head>
<body>
{% include 'headers.html' %}

<header>
    <!-- header -->
    <nav class="bg navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="index.html">Multiple Services Provider</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="index">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services">Services</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="gallery">Gallery</a>
                        <a class="dropdown-item" href="typography">Typography</a>

                        <a class="dropdown-item" href="error">Error</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="contact">Contact</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="viewuserorders">View Orders</a>
                        <a class="dropdown-item" href="index">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>

    </nav>

</header>

{#{{ ar }}#}

<div class="container" style="position: relative; margin-top: 5%">
    <div class="row">
        {% for row in ar %}
            <div class="card" style="width: 18rem;">

                <img class="card-img-top" style="width: 100%;height: 50%"
                     src="{% static 'media/merchantservices/' %}{{ row.5 }}" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">{{ row.2 }}</h5>
{#                    <button type="button" class=" btn btn-info btn float-left">Merchant Detail</button>#}
                    <button  class=" btn btn-primary btn float-right" onclick="openmodal('{{ row.0 }}','{{ row.1 }}','{{ row.2 }}','{{ row.3 }}','{{ row.4 }}','{{ row.5 }}')">
                        Book
                    </button>
                </div>
            </div>
            </div>
        {% endfor %}

</div>

{#                           Booking Modal                  #}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">


            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 style="justify-content: center">Service Description</h3>
                        <div id="servicedetail">
                        </div>
                    </div>
                    <hr>
                    <div class="col-sm-6">
                       <h3 style="justify-content: center">Available Merchant</h3>
                        <div id="merchantdetail">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <form class="inline">
                        <div class="form-group">
                            <input type="date" id="bookingdate"  class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input type="button"  class="btn btn-success" onclick="bookservice()" value="Pay Now And Book"/>
                        </div>
                    </form>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% include 'footer.html' %}
</body>
</html>