{% include 'alluserlinks.html' %}
<body>
<header>
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="">Multiple Services Provider</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="searchservice1">Book Services</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <h5 style="color: #0c5460;font-weight: bolder;font-size: smaller;padding-left: 5px" >{{ request.session.useremail }}</h5>
                        <a class="dropdown-item" href="viewuserorders">View Orders</a>
                        <a class="dropdown-item" href="index">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>

    </nav>


    <!-- //header -->

    <!-- banner -->
    <!-- banner-slider -->
    <div class="w3l_banner_info">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="slider-img">
                            <div class="slider_banner_info">
                                <div class="text">
                                    <h3 class="word wisteria">We Are The Best Home Service For Making Your Home
                                        Shine</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img-2">
                            <div class="slider_banner_info">
                                <div class="text">
                                    <h3 class="word wisteria">Making your Home Shine and Spotless Is Our Business And
                                        Priority</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img-3">
                            <div class="slider_banner_info">
                                <div class="text">
                                    <h3 class="word wisteria">Our Home Service Providers will Make You Proud in
                                        Society</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //banner-slider -->
    </div>
</header>
</body>