{% include 'newnavbar.html' %}
<head>
    {% load staticfiles %}
    <style>
        .row {
            background: url('../static/indeximages/usersignup3.png') no-repeat;
            background-size: cover;
            border-radius: 2%;
        }

        label {
            color: whitesmoke;

        }


    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-4 "></div>
        <div class="col-sm-4"
             style="background: url('../static/indeximages/signupuser2.jpg') no-repeat;background-size: cover ;border-radius: 2%">
            <div>
                <label for="mobile" class="label">Mobile</label>
                <input id="mobile" name="mobile" readonly value="{{ request.session.phone }}" type="number"
                       class="form-control w-75" required>
                <br>
            </div>
            <div>
                <label for="email" class="label">Email Address</label>
                <input id="email" name="email" type="email" class="form-control w-75" required>
                <br>
            </div>
            <div>
                <label for="address">Address</label>
                <textarea name="address" id="address" cols="20" rows="3" class="form-control w-75" required></textarea>
                <br>
            </div>
            <div>
                <label for="city">City</label>
                <input type="text" id="city" name="city" class="form-control w-75" required>
                <br>
                <div>
                    <label for="photo">Photo</label>
                    <input name="image" id="image" type="file" class="form-control-file" required>
                    <br>
                </div>
                <div>
                    <button class="btn btn-info float-right" type="button" onclick="signup()">Sign Up</button>
                    <br>
                </div>
                <div>
                    <a data-toggle="modal" data-target="#signinuser">Already Member? </a>
                </div>
                <br>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
</body>